
<link rel="stylesheet" href="../static/style_2.css">
<form method='POST'>
<div class="main-box">
    <div class="content">
      <input type="checkbox" id="check">
      <label class="box" for="check">

      </label>
      <div class="image-box mt-5">
        -<img src="{{imf}}" alt="">-
        
      </div>
    </div>
    </div>
    <button type="submit" class="btn btn1" style="margin-left:7%" >Find Match</button>
</form>
        <div class="main-box-2">
            <div class="content-2">
            <input type="checkbox" id="check-2">
            <label class="box-2" for="check-2">
         
            </label>
            <div class="image-box-2">
                -<img src="{{iff}}" alt="">-
             
                
            </div>
            </div>
        </div>

      
  




