{% extends 'index.html' %}

{% block title %}
  Welcome
{% endblock title %}
{% block head %}
 how it's work
{% endblock head %}

{% block body %}




    <div>
        <div class="promo">
            <div class="container-fluid py-5 mt-5" style="height: 500px;border-radius: 50px;background-color: yellow;">
                <h1 class="display-5 fw-bold"><img src="static\assets\img\image.png" width="350px" align="right" style="border-radius: 50px;">Free Hand Sketching Tool.</h1>
                <p class="col-md-8 fs-4" style="position: absolute;"><br>Adaptive Face Sketching Using AI and Machine learning<br><br></p><a class="btn btn-primary btn-lg" role="button" href="/login" style="position: absolute;top: 50%;">Start Sketching</a>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>



    {% endblock body %}